.graph {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  h4 {
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: center;
  width: 50%;

  input {
    border: 1px solid #b0b0b0;
    margin-top: 3px;
    outline: none;
    padding: 3px;

    &:placeholder-shown {
      border: 1px solid red;
      color: red;
    }

    &:focus {
      border: 1px solid green;
    }
  }

  div {
    margin-right: 15px;

    label {
      display: block;
    }
  }
}
